<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RevenewCalculator</title>

    <style>
        h1{
            color: rgb(196, 16, 16);
        }
        button {
            background-color: rgb(6, 6, 116);
            border: none;
            border-radius: 10px;
            color: white;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>

</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div align="center">
            <h1>REVENEW CALCULATOR</h1>
            <table>
                <tr>
                    <td width="307"><strong>Upload Project Details <em>(.xlsx)</em></strong></td>
                    <td width="307"><label for="fileField"></label>
                        <input type="file" name="fileField" class="form-control" id="fileField"></td>

                </tr>
                <tr>
                    <td width="307"><strong>Upload Employee Timesheet <em>(.xlsx)</em></strong></td>
                    <td width="307"><label for="fileField1"></label>
                        <input type="file" name="fileField1" class="form-control" id="fileField1"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><a href="{{url_for('login')}}" target="blank">
                        <button class='btn btn-default'>Generate Revenew Report</button></a></td>
                
                </tr>
            </table>
        </div>
    </form>

        {{message}}

</body>
</html>


